@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (User.Identity.IsAuthenticated)
{
    <p>Oturum Açan Kullanıcı @User.Identity.Name</p>
}


@if (User.IsInRole("Admin"))
{
    <p>Merhaba Admin User</p>
}

@await Component.InvokeAsync("Menu")



@*<div class="ui labeled button" tabindex="0">
        <div class="ui button">
            <i class="comment icon"></i> Comments
        </div>
        <a class="ui basic label">
            2,048
        </a>
    </div>*@


<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Module</a>


@*<comment-box text="Comments" count="1231412314"></comment-box>*@
<social-box text="Comments" icon-class="comment" count="2048"></social-box>
<social-box text="Like" icon-class="heart" count="32432"></social-box>
<social-box text="Share" icon-class="fork" count="435435"></social-box>

@*<div class="ui left labeled button" tabindex="0">
        <a class="ui basic right pointing label">
            2,048
        </a>
        <div class="ui button">
            <i class="heart icon"></i> Like
        </div>
    </div>
    <div class="ui left labeled button" tabindex="0">
        <a class="ui basic label">
            1,048
        </a>
        <div class="ui icon button">
            <i class="fork icon"></i>
        </div>
    </div>*@


<text-center content-text="Deneme1"></text-center>
<text-center content-text="Deneme2"></text-center>
<text-center content-text="Deneme3"></text-center>